.col {
    padding: 0px;
}

.navbar {
    min-height: 80px;
    min-width: 320px;
}

.nav-1 {
    font-family: 'BioRhyme', serif;
    font-size: 2em;
    color: white;
}

.nav-2 {
    color: #969696;
    padding: 5px;
}

.carousel-inner {
    max-height: 30em;
    overflow:hidden;
    margin: auto;
}

.carousel-inner img {
    min-width: 100%;
    overflow: hidden;
}

.about {
    text-align: center;
    vertical-align: middle;
}
